/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
/*Header Start*/

header{
	padding: 10px 0;
}

.menu ul li a {
    padding: 10px 0 0 !important;
    font-size: 20px;
    text-align: right;
}
/*Header End*/

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*Header Start*/

header{
	padding: 10px 0;
}

.menu ul li a {
    padding: 10px 0 0 !important;
    font-size: 20px;
    text-align: right;
}
/*Header End*/

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

/*Header Start*/
.menu ul li a {
    padding: 10px 0 0 !important;
    text-align: right;
}
/*Header End*/

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*X large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	
}

/*XX Large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {

}

