/*Font Start*/

@font-face{
	font-family: helveticaneue-bold;
	src: url(../fonts/helveticaneue-bold.ttf);
}

@font-face{
	font-family: PTSans-Bold;
	src: url(../fonts/PTSans-Bold.ttf);
}

@font-face{
	font-family: PTSans-Regular;
	src: url(../fonts/PTSans-Regular.ttf);
}

/*Font End*/

/*common style start*/
	
body{
	font-family: PTSans-Regular;
	font-weight: 400;
	font-size: 16px;
	color: #010101;
}

/*common style end*/

/*Header Start*/
header{
	background-color: #fcdb00;
	padding: 20px 0;
}

.logo{}

.menu ul li a{
	font-family: PTSans-Bold;
	font-size: 22px;
	font-weight: 700;
	color: #010101 !important;
	padding: 0 45px !important;
}

.menu ul li:last-child a{
	padding-right: 0 !important;
}

.menu ul li a:hover{
	color: white !important;
}

/*Header End*/

/*Slider Start*/

.slider{
	background-color: #fcdb00;
	padding-bottom: 100px;
}

.cid{
	bottom: -80px;
}

.cid [data-bs-target]{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.5;
}

.cid .active{
	opacity: 1;
}

.c_text{
	margin-top: 70px;
}

.c_text h1{
	margin-bottom: 20px;
	font-family: PTSans-Bold;
	font-weight: 700;
	font-size: 32px;
}

.c_text h2{
	margin-bottom: 25px;
	margin-right: 135px;
	font-size: 20px;
	font-weight: 400;
	color: #313841;
}

.c_text p{
	margin-right: 90px;
	margin-bottom: 35px;
	color: #555555;
}

.icon{}
.icon li{
	margin-right: 25px !important;
}
.icon li i{
	font-size: 42px;
	cursor: pointer;
	transition: 0.3s;
}

.icon li i:hover{
	transform: scale(0.8);
}

.c_img{}



/*Slider End*/

/*Feature Section Start*/

.feature{
	padding: 90px 0 110px;
}
.c_title{}
.cm_h1{
	font-family: PTSans-Bold;
	font-size: 32px;
	font-weight: 700;
}
.cm_text{
	font-size: 20px;
	color: #313841;
	/*padding: 0 25px;*/
}

.s_feature{
	margin-top: 60px;
}

.f_icon{
	margin-top: 5px;
}
.f_icon i{
	font-size: 50px;
	transition: 0.3s;
	cursor: pointer;
}

.f_icon i:hover{
	transform: scale(0.8);
}

.f_text{}
.f_text h2{
	font-size: 22px;
	font-weight: 400;
}
.f_text p {
    color: #898989;
    letter-spacing: 1px;
    margin-right: 25px;
}

/*Feature Section End*/

/*contact section start*/

.contact{
	padding: 90px 0 110px;
	background-color: #010101;
}

.yellow{
	color: #fcdb00;
}
.ash{
	color: #898989;
}

.c_form{
	margin: 35px 0 80px;
}

.u_email{
	width: 100%;
	height: 50px;
	font-family: PTSans-Regular;
	font-size: 16px;
	font-weight: 400;
	color: #898989 !important;
	padding: 10px 25px;
}

.u_email:focus {
    color: #212529;
    border-color: none;
    outline: 0;
    box-shadow: none
}

.u_submit{
	width: 100%;
	height: 50px;
	font-family: PTSans-Bold;
	font-size: 16px;
	font-weight: 700;
	background-color: #fcdb00;
	color: #010101;
	padding: 10px 25px;
	transition: 0.3s;
}

.u_submit:focus{
	box-shadow: none;
}

.u_submit:hover{
	background-color: #fff;
}

.c_icon{}
.c_icon ul li{
	margin-right: 25px !important;
}


.c_icon ul li:last-child{
	margin-right: 0px !important;
}

.c_icon ul li a{
	width: 40px;
	height: 40px;
	background-color: #fcdb00;
	display: inline-block;
	border-radius: 5px;
	transition: 0.3s ;
}

.c_icon ul li a:hover{
	background-color: #fff;
}

.c_icon ul li a i {
    font-size: 30px;
    color: #010101;
    padding: 5px 0;
}
/*contact section end*/

/*Footer start*/

.footer{
	padding-bottom: 100px;
	background-color: #010101;
	color: #ffffff;
}

.footer{
	/*text-align: center;*/
}

.footer_content a{
	text-decoration: none;
	color: #ffffff;
	transition: 0.3s;
}

.footer_content a:hover{
	color: #fcdb00;

}

/*Footer End*/